@import "tailwindcss";
@import 'maplibre-gl/dist/maplibre-gl.css';


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #808080;
  background-image: url("../../assets/transformador.jpg");
  background-blend-mode: darken;
  background-position-y: 50%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.top-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 8%;
  background-color: #f7f7f7;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.top-bar-button {
  background-color: #f7f7f7;
}
.top-bar-button:hover{
  border-color: #f7f7f7;
}

.scroll-bar-map::-webkit-scrollbar{
  background-color: #f7f7f7;
}

.scroll-bar-map::-webkit-scrollbar-thumb{
  background-color: #4b4b4b;
  border-radius: 10px;
}

.tab-button {
  background-color: rgb(207, 207, 207) !important;
  color: #374151 !important; /* gray-700 */
  border: none !important;
  cursor: pointer;
}

.tab-button.active {
  color: black !important;
  background-color: white !important;
  font-weight: 600 !important;
}

.tab-button:hover {
  color: black !important;
}

.pagination-button {
  background-color: white;
}

.map-button{
  background-color: rgb(221, 221, 221) !important;
  color: #374151 !important; /* gray-700 */
  cursor: pointer;
}

.clean-button{
  background-color: #fb2c36;
  transition: all 0.2s ease-in-out;
  outline: none;
}

.clean-button:hover{
  background-color: white!important;
  color: #fb2c36;
  cursor: pointer;
  border-color: black; 
  outline: none;
}

.clean-button:focus {
  outline: none;
  box-shadow: none;
}

.excel-button{
  background-color: #0F9D58;
  transition: all 0.2s ease-in-out;
  outline: none;
}

.excel-button:hover {
  background-color: white!important;
  color: #0F9D58;
  cursor: pointer;
  border-color: black; 
  outline: none;
}

.excel-button:focus {
  outline: none;
  box-shadow: none;
}